#historias h3,h4{
  text-align: center;
}
#historias .topo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#historias article{
  margin: 15px;
}
#historias img{
  width: 100%;
  max-width: 280px;
}
